.row { padding: 0; }

/*-- clearfix hack -- */
/* to make sure everything inside the row stays inside the row */
.row:before,
.row:after {
    display: table;
    clear: both;
    content: '';
}

/*-- column -- */
/* using flow property for positioning  */

[class*=sm],
[class*=md] {
    float: left;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    min-height: 1px;
    padding: 0 0.8em;
    /* optional gutter
    padding: 12px;*/
}


/*-- support for nested grids -- */
/* reset of the column's padding after putting a row inside  */
.row  .row{
    margin: 0 -0.8em;
}




[class*=md] {
    width: 100%;
}

.left { float: left; }
.right { float: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.sm-1 { width: 8.333%; }
.sm-2 { width: 16.666%; }
.sm-3 { width: 24.999%; }
.sm-4 { width: 33.333%; }
.sm-5 { width: 41.666%; }
.sm-6 { width: 49.999%; }
.sm-7 { width: 58.333%; }
.sm-8 { width: 66.666%; }
.sm-9 { width: 74.999%; }
.sm-10 { width: 83.333%; }
.sm-11 { width: 91.666%; }
.sm-12 { width: 99.999%; }

.sm-offset-1 { margin-left: 8.333%; }
.sm-offset-2 { margin-left: 16.666%; }
.sm-offset-3 { margin-left: 24.999%; }
.sm-offset-4 { margin-left: 33.333%; }
.sm-offset-5 { margin-left: 41.666%; }
.sm-offset-6 { margin-left: 49.999%; }
.sm-offset-7 { margin-left: 58.333%; }
.sm-offset-8 { margin-left: 66.666%; }
.sm-offset-9 { margin-left: 74.999%; }
.sm-offset-10 { margin-left: 83.333%; }
.sm-offset-11 { margin-left: 91.666%; }

.show-md { display: none; }

/*-- tablet viewport -- */
/* for screens wider than 40 × 16px = 640px */
@media (min-width: 40em) {
    .md-1 { width: 8.333%; }
    .md-2 { width: 16.666%; }
    .md-3 { width: 24.999%; }
    .md-4 { width: 33.333%; }
    .md-5 { width: 41.666%; }
    .md-6 { width: 49.999%; }
    .md-7 { width: 58.333%; }
    .md-8 { width: 66.666%; }
    .md-9 { width: 74.999%; }
    .md-10 { width: 83.333%; }
    .md-11 { width: 91.666%; }
    .md-12 { width: 99.999%; }

    .md-offset-1 { margin-left: 8.333%; }
    .md-offset-2 { margin-left: 16.666%; }
    .md-offset-3 { margin-left: 24.999%; }
    .md-offset-4 { margin-left: 33.333%; }
    .md-offset-5 { margin-left: 41.666%; }
    .md-offset-6 { margin-left: 49.999%; }
    .md-offset-7 { margin-left: 58.333%; }
    .md-offset-8 { margin-left: 66.666%; }
    .md-offset-9 { margin-left: 74.999%; }
    .md-offset-10 { margin-left: 83.333%; }
    .md-offset-11 { margin-left: 91.666%; }

    .md-text-left { text-align: left; }
    .md-text-center { text-align: center; }
    .md-text-right { text-align: right; }

    .show-md { display: block; }
    .hide-md { display: none; }
}
